.Button {
  border: none;
  height: 95%;
  width: 90%;
  aspect-ratio: 1 / 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3vh;
  border-radius: 4px;

  cursor: pointer;
  transition: background-color 0.2s, transform 0.1s;
  position: relative;

  .dot {
    height: 3%;
    width: 3%;
    border-radius: 50%;
  }

  &:hover:not(.pressed) {
    filter: brightness(0.9);
  }

  .start,
  .end {
    height: 20%;
    width: 20%;
  }
  .line {
    position: absolute;
  }

  &.futuristic {
    background-image: url("images/futuristic_key.png");
    background-size: contain;
    background-repeat: no-repeat;
    &.pressed {
      background-image: url("images/futuristic_key_pressed.png");
      background-size: contain;
      background-repeat: no-repeat;
    }

    .line {
      background-color: #cc5dff;
      opacity: 0.3;
    }
    .dot {
      opacity: 0.2;
    }
    .start,
    end {
      opacity: 0.8;
      background-color: #cc5dff;
    }
  }
  &.standard {
    background-color: #4560aa;
    margin: 2px;
    box-shadow: inset 0px 0px 0px 1px #464f66;
    &.pressed {
      box-shadow: inset 0px 0px 0px 10px #101930;
      background-color: #1f315e;
    }

    .line,
    .end,
    .start,
    .dot {
      background-color: #a3c0e2;
    }
  }
  &.retro {
    box-shadow: inset 0px 0px 2px 3px #522e0e;
    &:hover:not(.pressed) {
      background-color: #3b220a70;
    }
    img.end {
      width: 60%;
      height: 60%;
    }

    div.line,
    div.end,
    div.start,
    div.dot {
      background-color: #ca3328c4;
    }
  }

  // &.RETRO {
  //   background-image: url("images/retro_key.png");
  //   background-size: contain;
  //   background-repeat: no-repeat;

  //   &.pressed {
  //     background-image: url("images/retro_key_pressed.png");
  //     background-size: contain;
  //     background-repeat: no-repeat;
  //     background-color: #cc5dff;
  //     box-shadow: 0px 0px 12px #e5b7fa;
  //     border-radius: 8px;
  //     z-index: 1;
  //   }

  //   .line {
  //     background-color: #cc5dff;
  //       opacity: 0.3;
  //   };
  //   .dot {

  //     opacity: 0.2;

  //   };
  //    .start, end {
  //       opacity: 0.8;
  //             background-color: #cc5dff;
  //    }
  // }

  .incoming,
  .outgoing {
    opacity: 0.2;
    &.top {
      width: 2px;
      height: 50%;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
    }
    &.bottom {
      width: 2px;
      height: 50%;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
    &.left {
      width: 50%;
      height: 2px;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
    &.right {
      width: 50%;
      height: 2px;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}
