.Button {
  border: none;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3vh;

  cursor: pointer;
  transition: background-color 0.2s, transform 0.1s;
  position: relative;

  .dot {
    height: 3%;
    width: 3%;
    border-radius: 50%;
  }

  &:hover:not(.pressed) {
    filter: brightness(0.9);
  }

  .start,
  .end {
    height: 20%;
    width: 20%;
  }
  .line {
    position: absolute;
  }

  &.futuristic {
    background-color: green;
    box-shadow: inset 0px 0px 0px 1px rgb(0, 66, 0);
    &.pressed {
      box-shadow: inset 0px 0px 0px 10px rgb(0, 66, 0);
      background-color: rgb(0, 78, 0);
    }

    .line,
    .end,
    .start,
    .dot {
      background-color: aqua;
    }
  }
  &.basic,
  &.contemporary {
    background-color: #4c5d8b;
    box-shadow: inset 0px 0px 0px 1px #1c2233;
    &.pressed {
      box-shadow: inset 0px 0px 0px 10px #1c2233;
      background-color: #293249;
    }

    .line,
    .end,
    .start,
    .dot {
      background-color: #647d9b;
    }
  }

  .incoming,
  .outgoing {
    &.top {
      width: 5px;
      height: 50%;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
    }
    &.bottom {
      width: 5px;
      height: 50%;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
    &.left {
      width: 50%;
      height: 5px;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
    &.right {
      width: 50%;
      height: 5px;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}
