.Maze {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 10;

  .row {
    display: flex;
    justify-content: center;
  }
}
.fail .Maze *,
.fail .Maze {
  border: 0;
  outline: 0;
  box-shadow: none !important;
}
.fail .retro .Maze *,
.fail .retro .Maze {
  background-color: #3b220a27 !important;
  border: 0;
  outline: 0;
  box-shadow: none !important;
}
.victory {
  opacity: 0;
  visibility: hidden;
  transform: scale(0.9);
  transition: opacity 0.4s ease, transform 0.4s ease;
  position: absolute;
  width: 45%;
  height: 30%;
  background-color: #3b5063;
  display: flex;
  align-items: center;
  justify-content: center;
  border: #1e2b3c 10px solid;
  border-radius: 10px;
  z-index: -1;
}

.retro .Maze {
  border: 2px solid #522e0e;
}
.correct {
  .Maze {
    display: none;
  }
  .button-reset {
    display: none;
  }
  .victory {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
    z-index: 5;
    div {
      padding: 5%;
      text-align: center;
    }
  }
}

.text-instr {
  width: 100%;
  text-transform: uppercase;
  font-weight: bold;
  &.ancient {
    color: black;
  }
  &.futuristic {
    color: rgb(203, 185, 243);
  }
  &.basic {
    color: rgb(68, 67, 70);
  }
}
.text-start {
  display: flex;
  align-items: start;
  justify-content: start;
  margin: 0.5rem 0 0 0;
}
.text-end {
  display: flex;
  align-items: end;
  justify-content: end;
  margin: 0 0 0.5rem 0;
}
