.Maze {
  height: 70%;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 10;

  .row {
    display: flex;
    height: 100%;
    width: 100%;
  }
}
.fail .Maze *,
.fail .Maze {
  background-color: rgba(255, 0, 0, 0.226) !important;
  border: 0;
  outline: 0;
  box-shadow: none !important;
}
.fail .RETRO .Maze *,
.fail .RETRO .Maze {
  background-color: #3b220a27 !important;
  border: 0;
  outline: 0;
  box-shadow: none !important;
}
.victory {
  opacity: 0;
  visibility: hidden;
  transform: scale(0.9);
  transition: opacity 0.4s ease, transform 0.4s ease;
  position: absolute;
  width: 45%;
  height: 30%;
  background-color: #3b5063;
  display: flex;
  align-items: center;
  justify-content: center;
  border: #1e2b3c 10px solid;
  border-radius: 10px;
  z-index: -1;
}
.FUTURISTIC .Maze {
  border: 1px solid rgb(0, 66, 0);
}
.STANDARD .Maze {
  border: 1px solid rgb(0, 57, 83);
}
.RETRO .Maze {
  border: 2px solid #522e0e;
}
.correct {
  .Maze {
    display: none;
  }

  .victory {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
    z-index: 5;
    div {
      padding: 5%;
      text-align: center;
    }
  }
}
